# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# JavaScript, HTML, CSS
[*.{js,jsx,html,css}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# JSON
[*.json]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown
[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
